*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/settings.gradle
/TrafficFloatWindow.iml
/gradle.properties
/gradlew
/gradlew.bat
/gradle
/.gradle
/.idea
/trafficfloatwindowlibrary/trafficfloatwindowlibrary.iml
/trafficfloatwindowlibrary/build
